*.class
*.log
.classpath
.DS_Store
.history
.idea
/.idea/*
.idea_modules
.project
.sass-cache
.settings
*.iml
*.sc
deploy/classified-detail-service.version
js/bower_components
js/node_modules
dist
logs
out
RUNNING_PID
project/project
project/target
target
tmp
/assets/node_modules/*
/assets/Gemfile.lock
/assets/styles/*/*.css
/assets/lib/*
/assets/styles/*.map
assets_builder/node_modules/*
public/fragments
public/js
public/stylesheets
deploy/.bundle/
deploy/vendor/
